main{
  min-height: 88vh;
  flex: 1;
}
a{
  color: #ffff;
  text-decoration: none;
}
/* .site_container{
  min-height: 100vh;
} */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product{
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img{
  width: 100%;
  max-width: 400px;
}
.product_info{
  padding: 1rem;
}